.header {
  height: 80px;
  position: relative;
  background-color: $white;
}

.container--header {
  margin-top: 0;
  height: 100%;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  margin-top:8px;
  justify-content: right;
  @media screen and (min-width: 768px) {
    justify-content: space-between;

  }
}

.nav-list {
    margin-top: 8px;
}

.nav__title {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.nav-list__item {
  display: inline;
  padding-right: 8px;
}