.header {
  height: 80px;
  position: relative;
  background-color: $white;
}

.container--header {
  margin-top: 0;
  height: 100%;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  margin-top:8px;
  justify-content: space-between;
}

.nav-list {
  margin: 0;
}

.nav__title {
  display: block;
}

.nav-list__item {
  display: inline;
  padding-right: 8px;
}