.select--filter {
  display: none;
  height: 30px;
  background: $white;
  margin: 20px 0 0 10px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.card {
  padding: 0;
  margin: 15px 0 15px 0;
  display: block;
  overflow: auto;
  zoom: 1;
}

.cards-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    width: 49%;
  }
}

.cards-container--exp {
  float: left;
}

.cards-container--inc {
  float: right;
}

.card__icon {
  display: block;
  float: left;
  width: 65px;
  height: 65px;
  @include border-radius(50%);
}

.card__icon * {
  margin: 17px 13px;
  width: 1.25em !important;
}
.card__icon--inc {
  background-color: transparentize($green, 0.5);
}

.card__icon--exp {
  background-color: transparentize($orange, 0.5);
}

.card__data {
  display: inline-block;
  margin-left: 15px;
  margin-top: -5px;
}

.card__head {
  padding: 15px 15px;
  background-color: $light-gray;
}

.card__list {
  width: 100%;
  padding: 15px 15px;
  margin: 0;
  background-color: $white;
}

.card__list__item {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px
}

.exp .data__value {
  color: $red;
}

.inc .data__value {
  color: $green;
}

.del-btn {
  color: red;
}