.select--filter {
  display: block;
  height: 30px;
  background: $white;
  margin: 20px 0 0 10px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.card {
  padding: 0;
  margin: 15px 0 15px 0;
  width: 100%;
  display: block;
  overflow: auto;
  @media screen and (min-width: 768px) {
    width: 49%;
  }
}

.inc {
  float: right;
}

.exp {
  float: right;
  @media screen and (min-width: 768px) {
    float: left;
  }
}

.card__pic {
  display: block;
  float: left;
}

.card__data {
  display: inline-block;
  margin-left: 15px;
  margin-top: -5px;
}

.card__head {
  padding: 15px 15px;
  background-color: $light-gray;
}

.card__list {
  width: 100%;
  padding: 15px 15px;
  margin: 0;
  background-color: $white;
}

.card__list__item {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px
}

.exp .data__value {
  color: $red;
}

.inc .data__value {
  color: $green;
}