<section class='add-section'>
  <div class='container'>
    <h2>Adicionar</h2>
    <form action='/' method='post' class='form-container'>
      <select name='type' id='type' class='form__element'>
        <option value='inc'>+</option>
        <option value='exp'>-</option>
      </select>
      <input for='text' id='desc' class='form__element form__input form__input--desc' placeholder='Descrição'>
      <select name='category' id='category' class='form__element form__category' disabled>
        <option value='food'>Comida</option>
        <option value='ent'>Entreterimento</option>
        <option value='sal'>Salário</option>
      </select>
      <input for='value' id='value' class='form__element form__input form__input--value' placeholder='R$0,00'>
      <div class="btn form__element">
        <button type="submit">ENTRAR</button>
      </div>
    </form>
  </div>
</section>
<div class='btn btn--confirm'>+</div>