<section class='add-form'>
  <form action='/' method='post'>
    <select name='type' id='type'>
      <option value='inc'>+</option>
      <option value='exp'>-</option>
    </select>
    <label for='name' name='desc' id='desc'>Descrição</label>
    <select name='category' id='category' disabled>
      <option value='food'>Comida</option>
      <option value='ent'>Entreterimento</option>
      <option value='sal'>Salário</option>
    </select>
    <label for='value' name='value' id='value'>R$</label>
    <div class="btn">
      <button type="submit">ENTRAR</button>
    </div>
  </form>
</section>
<div class='btn call-form-btn'>+</div>