<section class='charts-section'>
  <div class='container shadow'>
    <select class='select--add-budget-full select'>
      <option value='all'>Adicionar</option>
    </select>
    <div class='charts'>
      <div class='chart chart--main'>
        <h2 class='chart__title'>Balanço Geral</h2>
        <img src='https://dummyimage.com/200x200/000/fff' class='chart__chart' alt='Balanço Geral'>
        <h2>$VALOR</h2>
      </div>
      <div class='chart chart--expenses'>
        <h2 class='chart__title'>Despesas</h2>
        <img src='https://dummyimage.com/200x200/000/fff' class='chart__chart' alt='Despesas'>
        <h2>-$VALOR</h2>
        <h6 class='chart__percentage'>$PORCENTAGEM% de todo o saldo</h6>
      </div>
      <div class='chart chart--incomes'>
        <h2 class='chart__title'>Rendas</h2>
        <img src='https://dummyimage.com/200x200/000/fff' class='chart__chart' alt='Rendas'>
        <h2>+$VALOR</h2>
      </div>
    </div>

  </div>
</section>