<section class='charts'>
  <select class='dropdown'>
    <option value='all'>Tudo</option>
    <option value='inc'>Rendas</option>
    <option value='exp'>Despesas</option>
  </select>
  <div class='chart chart--main'></div>
  <div class='chart chart--expenses'></div>
  <div class='chart chart--incomes'></div>
</section>