<header class='header' role="banner">
  <div class='container container--header'>
    <nav class='nav'>
      <div class='nav__title'>
        <h1><a href='/'>Budget Management</a></h1>
      </div>
      <ul class='nav-list' role="navigation">
        <li class='nav-list__item'><a href='/'><i class="fab fa-github fa-2x"></i></a></li>
      </ul>
    </nav>
  </div>  
</header>