<header>
  <div class='container'>
    <div class='title'>
      <h2><a href='/'>Budget Management</a></h2>
      <select class='dropdown'>
        <option value='inc'>Adicionar</option>
      </select>
    </div>
    <nav>
      <ul>
        <li>Bem vindo, Malcolm!</li>
        <li><a href='#logout'>Logout</a></li>
      </ul>
    </nav>
  </div>
</header>