<header class='header'>
  <div class='container container--header'>
    <nav class='nav'>
      <div class='nav__title'>
        <h1><a href='/'>Budget Management</a></h1>
      </div>
      <ul class='nav-list'>
        <li class='nav-list__item'>Bem vindo, $NOME!</li>
        <li class='nav-list__item'><strong><a href='#logout'>Logout</a></strong></li>
      </ul>
    </nav>
  </div>  
</header>