<section class='display-items'>
  <div class='dropdown'>Filtro</div>
  <div class='dropdown category'>
    <ul>
      <li class='item'></li>
        <img src='' alt=''>
        <h2>Título</h2>
        <h3>Valor</h3>
        <h4>Data</h4>
      </li>
    </ul>
  </div>
</section>