<section class='display-items'>
  <select class='select select--filter'>
    <option value='all'>Tudo</option>
    <option value='exp'>Despesas</option>
    <option value='inc'>Rendas</option>
  </select>
  <div class='container container--no-pad' id='cards-container'></div>
</section>