<section class='display-items'>
  <select class='select select--filter'>
    <option value='all'>Tudo</option>
    <option value='exp'>Despesas</option>
    <option value='inc'>Rendas</option>
  </select>
  <div class='container container--no-pad'>
    <div class='card exp shadow'>
        <div class='card__head'>
          <img src='https://dummyimage.com/50x50/000/fff' class='card__pic'>
          <div class='card__data'>
            <h2>Entreterimento<h2>
            <h2 class='data__value'>-R$100,00</h2>
          </div>
        </div>
        <ul class='card__list'>
          <li class='card__list__item'>
            <div class='item__main-data'>
              <h3>Spotify Music</h3>
              <h4 class='data__value'>-R$40,00</h4>
            </div>
            <div>
              <h6>23/02/2018</h6>
            </div> 
          </li>
          <li class='card__list__item'>
            <div class='item__main-data'>
              <h3>Cinema</h3>
              <h4 class='data__value'>-R$60,00</h4>
            </div>
            <div>
              <h6>24/02/2018</h6>
            </div> 
          </li>
        </ul>
    </div>
    
      <div class='card inc shadow'>
        <div class='card__head'>
          <img src='https://dummyimage.com/50x50/000/fff' class='card__pic'>
          <div class='card__data'>
            <h2>Salário<h2>
            <h2 class='data__value'>+R$200,00</h2>
          </div>
        </div>
        <ul class='card__list'>
          <li class='card__list__item'>
            <div class='item__main-data'>
              <h3>Salário</h3>
              <h4 class='data__value'>+R$200,00</h4>
            </div>
            <div>
              <h6>15/02/2018</h6>
            </div> 
          </li>
        </ul>
    </div>
  </div>
 

</section>