<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <meta name='keywords' content='wubba lubba dub dub'>
  <meta name='description' content='wubba lubba dub dub'>
  <meta name='author' content='wubba lubba dub dub'>
  <link rel='stylesheet' href='main.css'>
  <title>wubba lubba dub dub</title>
</head>
<body>
  {{{body}}}
</body>
</html>