<!DOCTYPE html>
<html lang='pt-br'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <meta name='keywords' content='budget management, controle de gastos'>
  <meta name='description' content='Aplicação para controle de rendas e despesas'>
  <meta name='author' content='Matheus Baldissara'>
  <link rel="canonical" href='https://budget-management-app.herokuapp.com'>
  <title>Budget Management - Controle de rendas e despesas</title>
  <link rel='icon' href='icon.png' width='32px' height='32px'>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500" rel="stylesheet"> 
  <link rel='stylesheet' href='main.css'>
  <!-- Facebook meta-tags -->
  <meta property="og:type" content='website'>
  <meta property="og:url" content='https://budget-management-app.herokuapp.com'>
  <meta property="og:title" content='Budget Management - Controle de rendas e despesas'
  <meta property="og:image" content='picture.png'>
  <meta property="og:description" content='Aplicação para controle de rendas e despesas'>
  <meta property="og:locale" content="pt-br">
  <!-- Twitter meta-tags -->
  <meta name="twitter:card" content='summary'>
<meta name="twitter:url" content='https://budget-management-app.herokuapp.com'>
<meta name="twitter:title" content='Budget Management - Controle de rendas e despesas'>
<meta name="twitter:description" content='Aplicação para controle de rendas e despesas'>
<meta name="twitter:image" content='picture.png'>

</head>
<body>
  <main>
    {{{body}}}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js'></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <script src='moment.min.js'></script>
  <script src='app.js'></script>
</body>
</html>