<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <meta name='keywords' content='wubba lubba dub dub'>
  <meta name='description' content='wubba lubba dub dub'>
  <meta name='author' content='wubba lubba dub dub'>
  <title>wubba lubba dub dub</title>
  <link rel='icon' href=''>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500" rel="stylesheet"> 
  <link rel='stylesheet' href='main.css'>
</head>
<body>
  <main>
    {{{body}}}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js'></script>
  <script src='app.js'></script>
</body>
</html>