.header {
  height: 80px;
  position: relative;
  background-color: $white;
}

.container--header {
  margin-top: 0;
  height: 100%;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  .nav__title {
    margin-top: -10px;
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  .dropdown--add-budget-mbl {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  
  .nav-list {
    margin-top: 15px;

    .nav-list__item {
      display: inline;
      padding-left: 10px;
    }

    .nav-list__item:nth-child(1) {
      display: none;
      @media screen and (min-width: 768px) {
        display: inline-block;
      }
    }
  }
}